extends layout

block content
  h1 Reset Password

  form#reset_password_form(action="/reset_password/reset_password", method="POST")
    .form-group
      label(for="username" class="sr-only") Username
      input(type="text" name="username" placeholder="Username")

    .form-group
      label(for="hash" class="sr-only") Hash
      input(type="text" name="hash" placeholder="Hash")

    .form-group
      label(for="newPassword" class="sr-only") New Password
      input(type="password" name="newPassword" placeholder="New Password")

    button#reset_submit(type="submit" class="btn btn-primary") Reset Password

