extends layout

block scripts
  script(src="/js/login.js")
  script(src="/js/reset_password_secure.js") 

block content
  h1 User Login

  p Login with a valid username and password
  form#login_form(action="/login", method="POST")
    .form-group
      label(for="username" class="sr-only") Username
      input(type="text" name="username" id="username")

    .form-group
      label(for="password" class="sr-only") Password
      input(type="password" name="password" id="password")

    button#login_submit(type="submit" class="btn btn-primary") Login

  div#response

  a(href="#" id="reset_link") Forgot Password? Click to Reset
  br
  a(href="#" id="reset_safe_link")
    | Click to securely reset your password

  script.
    const usernameInput = document.getElementById('username');
    const resetLink = document.getElementById('reset_link');
    const resetSafeLink = document.getElementById('reset_safe_link');

    usernameInput.addEventListener('input', function() {
      if (usernameInput.value.trim() !== '') {
        resetLink.href = `/reset_password/generate_reset_hash?username=${usernameInput.value.trim()}`;
        resetSafeLink.href = `/reset_password_secure/generate_reset_hash_safe?username=${usernameInput.value.trim()}`;
      } else {
        resetLink.href = '#';
        resetSafeLink.href = '#';
      }
    });

    resetLink.addEventListener('click', function(event) {
      if (usernameInput.value.trim() === '') {
        event.preventDefault();
        alert('Please provide a username to reset your password.');
      }
    });

    resetSafeLink.addEventListener('click', function(event) {
      if (usernameInput.value.trim() === '') {
        event.preventDefault();
        alert('Please provide a username to securely reset your password.');
      }
    });

